{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    <h1>
        {% if not filter.form.cleaned_data.account and not filter.form.cleaned_data.analytic %}
            Transactions
        {% endif %}
        Compte
        {% if filter.form.cleaned_data.account %}
            {{ filter.form.cleaned_data.account.number }}
        {% else %}
            *
        {% endif %}
        - Tiers
        {% if filter.form.cleaned_data.thirdparty %}
            {{ filter.form.cleaned_data.thirdparty.number }}
        {% else %}
            *
        {% endif %}
        - Analytique
        {% if filter.form.cleaned_data.analytic %}
            {{ filter.form.cleaned_data.analytic }}
        {% else %}
            *
        {% endif %}
        - Exercice {{ filter.form.cleaned_data.year }}
    </h1>

    {% crispy filter.form %}

    {% if filter.form.cleaned_data.thirdparty %}
        <p>
            Client : {{ filter.form.cleaned_data.thirdparty.client_number }},
            IBAN : {{ filter.form.cleaned_data.thirdparty.iban }}
        </p>
    {% endif %}

    <form method="POST">
    {% csrf_token %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Date</th>
            <th>Intitulé</th>
            {% if not filter.form.cleaned_data.account %}
                <th>Compte</th>
            {% endif %}
            {% if not filter.form.cleaned_data.thirdparty %}
                <th>Tiers</th>
            {% endif %}
            {% if not filter.form.cleaned_data.analytic %}
                <th>Analytique</th>
            {% endif %}
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th class="text-right">Solde</th>
            <th>Lettrage</th>
        </tr>
        {% for row in object_list %}
            <tr>
                <td>{{ row.entry.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'entry' year.pk row.entry.pk %}">{{ row.entry.title }}{% if row.title %} - {{ row.title }}{% endif %}</a></td>
                {% if not filter.form.cleaned_data.account %}
                    <td><a href="{% url 'account' year.pk %}?account={{ row.account_id }}{% if filter.form.cleaned_data.analytic %}&analytic={{ row.analytic_id }}{% endif %}{% if filter.form.cleaned_data.thirdparty %}&thirdparty={{ row.thirdparty_id }}{% endif %}" title="{{ row.account.title }}">{{ row.account.number }}</a></td>
                {% endif %}
                {% if not filter.form.cleaned_data.thirdparty %}
                    <td><a href="{% url 'account' year.pk %}?thirdparty={{ row.thirdparty_id }}{% if filter.form.cleaned_data.account %}&account={{ row.account_id }}{% endif %}{% if filter.form.cleaned_data.analytic %}&analytic={{ row.analytic_id }}{% endif %}" title="{{ row.thirdparty.title }}">{{ row.thirdparty.number }}</a></td>
                {% endif %}
                {% if not filter.form.cleaned_data.analytic %}
                    <td><a href="{% url 'account' year.pk %}?analytic={{ row.analytic_id }}{% if filter.form.cleaned_data.account %}&account={{ row.account_id }}{% endif %}{% if filter.form.cleaned_data.thirdparty %}&thirdparty={{ row.thirdparty_id }}{% endif %}">{{ row.analytic.number }}</a></td>
                {% endif %}
                <td class="text-right text-nowrap">{% if row.expense %}{{ row.expense|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{% if row.revenue %}{{ row.revenue|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{{ row.solde|floatformat:2 }} €</td>
                <td>{% if row.letter %}<a href="{% url 'letter_detail' year.pk row.letter.pk %}">{{ row.letter }}</a>{% else %}<input type="checkbox" name="letter{{ row.id }}">{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            {% if not filter.form.cleaned_data.account %}
                <td></td>
            {% endif %}
            {% if not filter.form.cleaned_data.thirdparty %}
                <td></td>
            {% endif %}
            {% if not filter.form.cleaned_data.analytic %}
                <td></td>
            {% endif %}
            <td class="text-right text-nowrap"><strong>{{ expense|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ revenue|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ solde|floatformat:2 }} €</strong></td>
            <td></td>
        </tr>
    </table>
    <p>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span>
            Lettrer
        </button>
    </p>
    </form>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('#filter select, #filter :checkbox').change(function() {
            $('#filter').submit();
        });
        $('tr :checkbox').click(function(event) {
            event.stopPropagation();
        });
        $('tr').click(function() {
            var checkbox = $(this).find(':checkbox');
            checkbox.prop("checked", !checkbox.prop("checked"));
        });
    </script>

{% endblock js %}
