{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    {% if perms.accounting.add_analytic %}
        <a href="{% url 'analytic_create' year.pk %}" class="btn btn-primary title-action">Ajouter</a>
    {% endif %}
    <h1>Balance analytique {{ year }}</h1>

    {% crispy filter.form %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Numéro</th>
            <th>Intitulé</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th class="text-right">Solde</th>
        </tr>
        {% for row in data %}
            <tr>
                <td><a href="{% url 'account' year.pk %}?analytic={{ row.analytic__id }}">{{ row.analytic__number }}</a></td>
                <td><a href="{% url 'account' year.pk %}?analytic={{ row.analytic__id }}">{{ row.analytic__title }}</a></td>
                <td class="text-right text-nowrap">{% if row.expenses %}{{ row.expenses|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{% if row.revenues %}{{ row.revenues|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{{ row.balance|floatformat:2 }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            <td class="text-right text-nowrap"><strong>{{ expenses|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ revenues|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ balance|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
