{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Opération bancaire {{ bankoperation }} {{ year }}</h1>

	<p><b>Référence</b> : {{ bankoperation.reference }}</p>
	<p><b>Date</b> : {{ bankoperation.date|date:'d/m/Y' }}</p>
	<p><b>Type</b> : {{ bankoperation.type }}</p>
	<p><b>Compte bancaire</b> : {{ bankoperation.account }}</p>
	<p><b>Montant</b> : {{ bankoperation.amount }}</p>
	<p><b>Détails</b> :<br>{{ bankoperation.details|linebreaksbr }}</p>
    {% if bankoperation.transaction %}
		<p><b>Rapprochement</b> : <a href="{% url 'entry' year.pk bankoperation.transaction.entry.pk %}">{{ bankoperation.transaction.entry }}</a>
		<p><b>Compte</b> : {{ bankoperation.transaction.account }}</p>
	{% endif %}

	{% if not bankoperation.transaction and payments %}
		<h2>Règlements non rapprochés du même montant</h2>
		<table class="table table-striped table-hover">
			<tr>
				<th>Date</th>
				<th>Intitulé</th>
				<th>Compte</th>
				<th>Tiers</th>
				<th>Rapprochement</th>
			</tr>
			{% for payment in payments %}
				<tr>
					<td>{{ payment.entry.date|date:'d/m/Y' }} </td>
					<td><a href="{% url 'entry' payment.entry.year.pk payment.entry.pk %}">
						{{ payment.entry.title }}{% if payment.title %} - {{ payment.title }}{% endif %}
					</a></td>
					<td><a href="{% url 'account' payment.entry.year.pk %}?account={{ payment.account_id }}">{{ payment.account.number }} - {{ payment.account.title }}</a></td>
					<td>
						{% for thirdparty in payment.entry.thirdparties %}
							<a href="{% url 'thirdparty_detail' year.pk thirdparty.id %}">{{ thirdparty.number }} - {{ thirdparty.title }}</a>
							{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</td>
					<td>
						<a href="{% url 'bankoperation_point' year.pk bankoperation.pk payment.pk %}">Rapprocher</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if not bankoperation.transaction and purchases %}
		<h2>Factures fournisseur non lettrées du même montant</h2>
		<table class="table table-striped table-hover">
			<tr>
				<th>Date</th>
				<th>Intitulé</th>
				<th>Tiers</th>
				<th>Rapprochement</th>
			</tr>
			{% for purchase in purchases %}
				{% with provider_transaction=purchase.provider_transaction %}
					<tr>
						<td>{{ purchase.date|date:'d/m/Y' }} </td>
						<td><a href="{% url 'purchase_detail' purchase.year.pk purchase.pk %}">
							{{ purchase.title }}
						</a></td>
						<td>
							<a href="{% url 'thirdparty_detail' year.pk provider_transaction.thirdparty.pk %}">{{ provider_transaction.thirdparty }}</a>
						</td>
						<td>
							<a href="{% url 'expenditure_create' year.pk %}?purchase={{ purchase.pk }}&operation={{ bankoperation.pk }}">Rapprocher</a>
						</td>
					</tr>
				{% endwith %}
			{% endfor %}
		</table>
	{% endif %}

	{% if not bankoperation.transaction and sales %}
		<h2>Factures client non lettrées du même montant</h2>
		<table class="table table-striped table-hover">
			<tr>
				<th>Date</th>
				<th>Intitulé</th>
				<th>Tiers</th>
				<th>Rapprochement</th>
			</tr>
			{% for sale in sales %}
				{% with client_transaction=sale.client_transaction %}
					<tr>
						<td>{{ sale.date|date:'d/m/Y' }} </td>
						<td><a href="{% url 'sale_detail' sale.year.pk sale.pk %}">
							{{ sale.title }}
						</a></td>
						<td>
							<a href="{% url 'thirdparty_detail' year.pk client_transaction.thirdparty.pk %}">{{ client_transaction.thirdparty }}</a>
						</td>
						<td>
							<a href="{% url 'income_create' year.pk %}?sale={{ sale.pk }}&operation={{ bankoperation.pk }}">Rapprocher</a>
						</td>
					</tr>
				{% endwith %}
			{% endfor %}
		</table>
	{% endif %}

	{% if bankoperation.transaction %}
		<a href="{% url 'bankoperation_unpoint' year.pk bankoperation.pk %}">Annuler le rapprochement</a>
	{% elif bankoperation.amount > 0 %}
		<p><a href="{% url 'income_create' year.pk %}?&operation={{ bankoperation.pk }}">Créer un paiement client et rapprocher</a></p>
	{% else %}
		<p><a href="{% url 'expenditure_create' year.pk %}?&operation={{ bankoperation.pk }}">Créer un paiement fournisseur et rapprocher</a></p>
	{% endif %}

</div>

{% endblock content %}
