{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Opérations bancaires {{ year }}</h1>

    {% crispy filter.form %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Référence</th>
            <th>Compte</th>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Type</th>
            <th class="text-right">Montant</th>
            <th class="text-right">Solde</th>
        </tr>
        {% for operation in object_list %}
            <tr {% if operation.transaction %}{% if operation.account.account == operation.transaction.account %}class="balance_pos"{% else %}class="balance_neg"{% endif %}{% endif %}>
                <td><a href="{% url 'bankoperation_detail' year.pk operation.pk %}">{{ operation.reference }}</a></td>
                <td>{{ operation.account }}</td>
                <td>{{ operation.date|date:"d/m/y" }}</td>
                <td>{{ operation.detail1 }}</td>
                <td>{{ operation.type }}</td>
                <td class="text-right text-nowrap">{{ operation.amount|floatformat:2 }} €</td>
                <td class="text-right text-nowrap">{{ operation.balance|floatformat:2 }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right text-nowrap"><strong>{{ amount|floatformat:2 }} €</strong></td>
            <td></td>
        </tr>
    </table>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
