{% extends 'base.html' %}

{% block menu %}

{% if perms.accounting.view_purchase or perms.accounting.view_sale or perms.accounting.view_expenditure or perms.accounting.view_income or perms.accounting.view_entry or perms.accounting.view_transaction %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Comptabilité
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.accounting.view_purchase %}
        <li>
            <a href="{% url 'purchase_list' accounting_year_pk %}">Factures fournisseur</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_sale %}
        <li>
            <a href="{% url 'sale_list' accounting_year_pk %}">Factures client</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_expenditure %}
        <li>
            <a href="{% url 'expenditure_list' accounting_year_pk %}">Réglements fournisseur</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_income %}
        <li>
            <a href="{% url 'income_list' accounting_year_pk %}">Réglements client</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_entry %}
        <li>
            <a href="{% url 'depreciations' accounting_year_pk %}">Amortissements</a>
        </li>
        <li>
            <a href="{% url 'entry_list' accounting_year_pk %}">Écritures</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_transaction %}
        <li>
            <a href="{% url 'account' accounting_year_pk %}">Transactions</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}
{% if perms.accounting.view_analytic %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Analytique
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.accounting.view_analytic %}
        <li>
            <a href="{% url 'analytic-balance' accounting_year_pk %}">Balance Analytique</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}
{% if perms.accounting.view_bankoperation or perms.accounting.view_cashing or perms.accounting.view_withdrawal %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Banque
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.accounting.view_bankoperation %}
        <li>
            <a href="{% url 'bankoperation_list' accounting_year_pk %}">Opérations bancaires</a>
        </li>
        <li>
            <a href="{% url 'cash-flow' accounting_year_pk %}">Trésorerie</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_cashing %}
        <li>
            <a href="{% url 'cashing_list' accounting_year_pk %}">Remises</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_withdrawal %}
        <li>
            <a href="{% url 'withdrawal_list' accounting_year_pk %}">Retraits</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}
{% if perms.accounting.view_budget or perms.accounting.view_transaction %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Budget
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.accounting.view_budget %}
        <li>
            <a href="{% url 'budget' accounting_year_pk %}">Budget</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_transaction %}
        <li>
            <a href="{% url 'balance' accounting_year_pk %}">Balance</a>
        </li>
        <li>
            <a href="{% url 'projection' accounting_year_pk %}">Projection</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Tiers
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.accounting.view_thirdparty %}
        <li>
            <a href="{% url 'thirdparty_list' accounting_year_pk %}">Tiers</a>
        </li>
        {% endif %}
        <li>
            <a href="{% url 'report_list' accounting_year_pk %}">Notes de frais</a>
        </li>
    </ul>
</li>
{% if perms.accounting.view_year or perms.accounting.view_transaction or perms.accounting.view_thirdparty %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Admin
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if perms.accounting.view_year %}
        <li>
            <a href="{% url 'year_list' accounting_year_pk %}">Exercices</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_transaction %}
        <li>
            <a href="{% url 'checks' accounting_year_pk %}">Contrôles</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_transaction %}
        <li>
            <a href="{% url 'entry-csv' accounting_year_pk %}">Export des écritures</a>
        </li>
        {% endif %}
        {% if perms.accounting.view_thirdparty %}
        <li>
            <a href="{% url 'thirdparty-csv' accounting_year_pk %}">Export des tiers</a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}

{% endblock %}


{% block js %}

<script>
    $('form span.glyphicon-trash').click(function() {
        row = $(this).parents('.row');
        row.find('input[name*="DELETE"]').prop("checked", true);
        // row.css('display', 'none');
        row.fadeOut();
    });
</script>

{% endblock js %}
