{% extends 'accounting/base.html' %}
{% load crispy_forms_tags humanize %}

{% block content %}

<div class="container">

    {% if budget %}
    <div class="btn-toolbar title-action">
        {% if perms.accounting.delete_budgetentry %}
            <a href="{% url 'budget-delete' year.pk budget.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Supprimer
            </a>
        {% endif %}
        {% if perms.accounting.delete_budgetentry %}
            <a href="{% url 'budget-update' year.pk budget.pk %}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit"></span> Modifier
            </a>
        {% endif %}
        {% if perms.accounting.add_budgetentry %}
            <a href="{% url 'budget_create' year.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Ajouter
            </a>
        {% endif %}
    </div>
    {% endif %}

    <h1>Budget {{ budget.title }}</h1>

    {% crispy form %}

    <div style="width: 49%; display: inline-block; padding-right: .5em; vertical-align: top;">

    <h2>Charges</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>Compte</th>
            <th>Intitulé</th>
            <th class="text-right">{{ left_title|linebreaksbr }}</th>
            <th class="text-right">{{ right_title|linebreaksbr }}</th>
            <th class="text-right">Diff.</th>
        </tr>
        {% for subclass in expenses %}
            <tr>
                <td><b>{{ subclass.number }}</b></a></td>
                <td><b>{{ subclass.title }}</b></a></td>
                <td class="text-right text-nowrap"><b>{% if subclass.left_subtotal %}{{ subclass.left_subtotal|intcomma }}{% endif %}</b></td>
                <td class="text-right text-nowrap"><b>{% if subclass.right_subtotal %}{{ subclass.right_subtotal|intcomma }}{% endif %}</b></td>
                <td class="text-right text-nowrap"><b>
                    {% if subclass.diff_subtotal > 0 %}<span {% if subclass.diff_subtotal > 1000 %}style="color: red;"{% endif %}>+{{ subclass.diff_subtotal|intcomma }}</span>{% endif %}
                    {% if subclass.diff_subtotal < 0 %}<span {% if subclass.diff_subtotal < -1000 %}style="color: green;"{% endif %}>{{ subclass.diff_subtotal|intcomma }}<span>{% endif %}
                    {% if subclass.diff_subtotal == 0 %}={% endif %}
                </b></td>
            </tr>
        {% for row in subclass.items %}
            <tr>
                <td>{{ row.account.number }}</td>
                <td><a href="{% url 'budget-account' year.pk row.account.pk %}?budget={{ budget.pk }}&analytic={{ analytic.pk }}">{{ row.account.title }}</a></td>
                <td class="text-right text-nowrap">{% if row.left_amount %}{{ row.left_amount|intcomma }}{% endif %}</td>
                <td class="text-right text-nowrap">{% if row.right_amount %}{{ row.right_amount|intcomma }}{% endif %}</td>
                <td class="text-right text-nowrap">
                    {% if row.diff_amount > 0 %}<span {% if row.diff_amount > 1000 %}style="color: red;"{% endif %}>+{{ row.diff_amount|intcomma }}</span>{% endif %}
                    {% if row.diff_amount < 0 %}<span {% if row.diff_amount < -1000 %}style="color: green;"{% endif %}>{{ row.diff_amount|intcomma }}<span>{% endif %}
                    {% if row.diff_amount == 0 %}={% endif %}
                </td>
            </tr>
        {% endfor %}
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            <td class="text-right text-nowrap"><strong>{{ left_expenses_total|intcomma }}</strong></td>
            <td class="text-right text-nowrap"><strong>{{ right_expenses_total|intcomma }}</strong></td>
            <td class="text-right text-nowrap"><strong>
                {% if diff_expenses_total > 0 %}<span {% if diff_expenses_total > 1000 %}style="color: red;"{% endif %}>+{{ diff_expenses_total|intcomma }}</span>{% endif %}
                {% if diff_expenses_total < 0 %}<span {% if diff_expenses_total < -1000 %}style="color: green;"{% endif %}>{{ diff_expenses_total|intcomma }}<span>{% endif %}
                {% if diff_expenses_total == 0 %}={% endif %}
        </strong></td>
        </tr>
        <tr>
            <td></td>
            <td><strong>Résultat excédentaire</strong></td>
            <td class="text-right text-nowrap"><strong>{% if left_balance > 0 %}{{ left_balance|intcomma }}{% endif %}</strong></td>
            <td class="text-right text-nowrap"><strong>{% if right_balance > 0 %}{{ right_balance|intcomma }}{% endif %}</strong></td>
            <td class="text-right text-nowrap"><strong>
                {% if diff_balance > 0 %}<span {% if diff_balance > 1000 %}style="color: green;"{% endif %}>+{{ diff_balance|intcomma }}</span>{% endif %}
            </strong></td>
        </tr>
    </table>

    </div>
    <div style="width: 49%; display: inline-block; padding-left: .5em; vertical-align: top;">

    <h2>Produits</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>Compte</th>
            <th>Intitulé</th>
            <th class="text-right">{{ left_title|linebreaksbr }}</th>
            <th class="text-right">{{ right_title|linebreaksbr }}</th>
            <th class="text-right">Diff.</th>
        </tr>
        {% for subclass in revenues %}
            <tr>
                <td><b>{{ subclass.number }}</b></a></td>
                <td><b>{{ subclass.title }}</b></a></td>
                <td class="text-right text-nowrap"><b>{% if subclass.left_subtotal %}{{ subclass.left_subtotal|intcomma }}{% endif %}</b></td>
                <td class="text-right text-nowrap"><b>{% if subclass.right_subtotal %}{{ subclass.right_subtotal|intcomma }}{% endif %}</b></td>
                <td class="text-right text-nowrap"><b>
                    {% if subclass.diff_subtotal > 0 %}<span {% if subclass.diff_subtotal > 1000 %}style="color: green;"{% endif %}>+{{ subclass.diff_subtotal|intcomma }}</span>{% endif %}
                    {% if subclass.diff_subtotal < 0 %}<span {% if subclass.diff_subtotal < -1000 %}style="color: red;"{% endif %}>{{ subclass.diff_subtotal|intcomma }}<span>{% endif %}
                    {% if subclass.diff_subtotal == 0 %}={% endif %}
                </b></td>
            </tr>
        {% for row in subclass.items %}
            <tr>
                <td>{{ row.account.number }}</td>
                <td><a href="{% url 'budget-account' year.pk row.account.pk %}?budget={{ budget.pk }}&analytic={{ analytic.pk }}">{{ row.account.title }}</a></td>
                <td class="text-right text-nowrap">{% if row.left_amount %}{{ row.left_amount|intcomma }}{% endif %}</td>
                <td class="text-right text-nowrap">{% if row.right_amount %}{{ row.right_amount|intcomma }}{% endif %}</td>
                <td class="text-right text-nowrap">
                    {% if row.diff_amount > 0 %}<span {% if row.diff_amount > 1000 %}style="color: green;"{% endif %}>+{{ row.diff_amount|intcomma }}</span>{% endif %}
                    {% if row.diff_amount < 0 %}<span {% if row.diff_amount < -1000 %}style="color: red;"{% endif %}>{{ row.diff_amount|intcomma }}<span>{% endif %}
                    {% if row.diff_amount == 0 %}={% endif %}
                </td>
            </tr>
        {% endfor %}
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            <td class="text-right text-nowrap"><strong>{{ left_revenues_total|intcomma }}</strong></td>
            <td class="text-right text-nowrap"><strong>{{ right_revenues_total|intcomma }}</strong></td>
            <td class="text-right text-nowrap"><strong>
                {% if diff_revenues_total > 0 %}<span {% if diff_revenues_total > 1000 %}style="color: green;"{% endif %}>+{{ diff_revenues_total|intcomma }}</span>{% endif %}
                {% if diff_revenues_total < 0 %}<span {% if diff_revenues_total < -1000 %}style="color: red;"{% endif %}>{{ diff_revenues_total|intcomma }}<span>{% endif %}
                {% if diff_revenues_total == 0 %}={% endif %}
            </strong></td>
        </tr>
        <tr>
            <td></td>
            <td><strong>Résultat déficitaire</strong></td>
            <td class="text-right text-nowrap"><strong>{% if left_balance_neg > 0 %}{{ left_balance_neg|intcomma }}{% endif %}</strong></td>
            <td class="text-right text-nowrap"><strong>{% if right_balance_neg > 0 %}{{ right_balance_neg|intcomma }}{% endif %}</strong></td>
            <td class="text-right text-nowrap"><strong>
                {% if diff_balance_neg > 0 %}<span {% if diff_balance_neg > 1000 %}style="color: red;"{% endif %}>+{{ diff_balance_neg|intcomma }}</span>{% endif %}
            </strong></td>
        </tr>
    </table>

    </div>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('form').submit()});
    </script>

{% endblock js %}
