{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

	<h1>Supprimer le budget {{ budget.title }} ?</h1>

	<p>Oui, je suis sûr de vouloir supprimer le budget {{ budget.title }}</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<a href="{% url 'budget' year.pk %}?budget={{ budget.pk }}" class="btn btn-primary">Annuler</a>
		<input type="submit" value="Supprimer" class="btn btn-danger">
	</form>

</div>

{% endblock content %}
