{% extends 'accounting/base.html' %}
{% load crispy_forms_tags humanize %}

{% block content %}

<div class="container">

    {% if perms.accounting.add_budgetentry %}
        <a href="{% url 'budgetentry-create' year.pk %}?budget={{ budget.pk }}&account={{ account.pk }}&analytic={{ analytic.pk }}" class="btn btn-primary title-action">Ajouter</a>
    {% endif %}
    <h1>Budget {{ account.title }}</h1>

    {% crispy form %}

    <h2>Prévisionnel {{ budget.title }}</h2>

    <table class="table table-striped table-hover">
        <tr>
            <th>Compte</th>
            <th>Analytique</th>
            <th>Intitulé</th>
            <th class="text-right">Montant</th>
            <th></th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.account.number }} - {{ item.account.title }}</td>
                <td>{{ item.analytic.number }} - {{ item.analytic.title }}</td>
                <td>{{ item.title }}</td>
                <td class="text-right text-nowrap">{{ item.amount|floatformat:0|intcomma }}</td>
                <td>
                    <a href="{% url 'budgetentry_delete' year.pk item.pk %}">
                        <span class="glyphicon glyphicon-trash text-danger"></span>
                    </a>
                    &nbsp;
                    <a href="{% url 'budgetentry_update' year.pk item.pk %}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td class="text-right text-nowrap"><strong>{{ items_total|floatformat:0|intcomma }}</strong></td>
            <td></td>
        </tr>
    </table>

    <h2>Réalisé {{ year.title }}</h2>

    <table class="table table-striped table-hover">
        <tr>
            <th>Compte</th>
            <th>Analytique</th>
            <th>Intitulé</th>
            <th class="text-right">Montant</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.account.number }} - {{ transaction.account.title }}</td>
                <td>{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</td>
                <td><a href="{% url 'entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                <td class="text-right text-nowrap">{{ transaction.qs_balance|floatformat:0|intcomma }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td class="text-right text-nowrap"><strong>{{ transactions_total|floatformat:0|intcomma }}</strong></td>
        </tr>
    </table>

    <p><a href="{% url 'budget' year.pk %}?budget={{ budget.pk }}&analytic={{ analytic.pk }}">Retour au budget</a></p>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('form').submit()});
    </script>

{% endblock js %}
