{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    {% if perms.accounting.add_cashing and year.opened %}
        <a href="{% url 'cashing_create' year.pk %}" class="btn btn-primary title-action">Ajouter</a>
    {% endif %}
    <h1>Remises {{ year }}</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Labels</th>
            <th>Type</th>
            <th class="text-right">Montant</th>
            <th class="text-right">Frais</th>
        </tr>
        {% for cashing in object_list %}
            <tr>
                <td>{{ cashing.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'cashing_detail' year.pk cashing.pk %}">{{ cashing.title }}</a></td>
                <td>
                    {% if cashing.exported %}<span class="label label-success">Exporté</span>{% endif %}
                    {% if not cashing.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
                </td>
                <td>{{ cashing.method }}</td>
                <td class="text-right text-nowrap">{% if cashing.revenue %}{{ cashing.revenue|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{% if cashing.fees_transaction %}{{ cashing.fees_transaction.expense|floatformat:2 }} €{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td class="text-right text-nowrap"><strong>{{ expense|floatformat:2 }} €</strong></td>
            <td></td>
        </tr>
    </table>

</div>

{% endblock content %}
