{% extends 'accounting/base.html' %}

{% block content %}

<div class="container accounting">

    <h1>Contrôles</h1>

    {% if not_pointed %}
        <p>Écritures bancaires non pointées</p>

        <table class="table table-striped table-hover">
            <tr>
                <th>Intitulé</th>
                <th>Compte</th>
                <th>Tiers</th>
                <th>Analytique</th>
                <th class="text-right">Débit</th>
                <th class="text-right">Crédit</th>
                <th>Lettrage</th>
            </tr>
            {% for transaction in not_pointed %}
                <tr>
                    <td><a href="{% url 'entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                    <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                    <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                    <td>{% if transaction.letter %}<a href="{% url 'letter_detail' transaction.entry.year.pk transaction.letter.pk %}">{{ transaction.letter }}</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas d'écritures bancaires non pointées</p>
    {% endif %}

    {% if missing_analytic %}
        <p>Analytique manquant</p>

        <table class="table table-striped table-hover">
            <tr>
                <th>Intitulé</th>
                <th>Compte</th>
                <th>Tiers</th>
                <th>Analytique</th>
                <th class="text-right">Débit</th>
                <th class="text-right">Crédit</th>
                <th>Lettrage</th>
            </tr>
            {% for transaction in missing_analytic %}
                <tr>
                    <td><a href="{% url 'entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                    <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                    <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                    <td>{% if transaction.letter %}<a href="{% url 'letter_detail' transaction.entry.year.pk transaction.letter.pk %}">{{ transaction.letter }}</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas d'analytique manquant</p>
    {% endif %}

    {% if extra_analytic %}
        <p>Analytique superflu</p>

        <table class="table table-striped table-hover">
            <tr>
                <th>Intitulé</th>
                <th>Compte</th>
                <th>Tiers</th>
                <th>Analytique</th>
                <th class="text-right">Débit</th>
                <th class="text-right">Crédit</th>
                <th>Lettrage</th>
            </tr>
            {% for transaction in extra_analytic %}
                <tr>
                    <td><a href="{% url 'entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                    <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                    <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                    <td>{% if transaction.letter %}<a href="{% url 'letter_detail' transaction.entry.year.pk transaction.letter.pk %}">{{ transaction.letter }}</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas d'analytique superflu</p>
    {% endif %}

    {% if missing_thirdparty %}
        <p>Tiers manquant</p>

        <table class="table table-striped table-hover">
            <tr>
                <th>Intitulé</th>
                <th>Compte</th>
                <th>Tiers</th>
                <th>Analytique</th>
                <th class="text-right">Débit</th>
                <th class="text-right">Crédit</th>
                <th>Lettrage</th>
            </tr>
            {% for transaction in missing_thirdparty %}
                <tr>
                    <td><a href="{% url 'entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                    <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                    <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                    <td>{% if transaction.letter %}<a href="{% url 'letter_detail' transaction.entry.year.pk transaction.letter.pk %}">{{ transaction.letter }}</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas de tiers manquant</p>
    {% endif %}

    {% if extra_thirdparty %}
        <p>Tiers superflu</p>

        <table class="table table-striped table-hover">
            <tr>
                <th>Intitulé</th>
                <th>Compte</th>
                <th>Tiers</th>
                <th>Analytique</th>
                <th class="text-right">Débit</th>
                <th class="text-right">Crédit</th>
                <th>Lettrage</th>
            </tr>
            {% for transaction in extra_thirdparty %}
                <tr>
                    <td><a href="{% url 'entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                    <td><a href="{% url 'account' transaction.entry.year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                    <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                    <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                    <td>{% if transaction.letter %}<a href="{% url 'letter_detail' transaction.entry.year.pk transaction.letter.pk %}">{{ transaction.letter }}</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas de tiers superflu</p>
    {% endif %}

    {% if unbalanced_letters %}
        <p>Lettrages non équilibrés</p>

        <table class="table table-striped table-hover">
            <tr>
                <th>Intitulé</th>
                <th>Compte</th>
                <th>Tiers</th>
                <th>Analytique</th>
                <th class="text-right">Débit</th>
                <th class="text-right">Crédit</th>
                <th>Lettrage</th>
            </tr>
            {% for letter in unbalanced_letters %}
                {% for transaction in letter.transaction_set.all %}
                    <tr>
                        <td><a href="{% url 'entry' transaction.entry.year.pk transaction.entry.pk %}">{{ transaction.title|default:transaction.entry.title }}</a></td>
                        <td><a href="{% url 'account' transaction.entry.year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                        <td><a href="{% url 'account' transaction.entry.year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                        <td><a href="{% url 'account' transaction.entry.year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                        <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                        <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                        <td>{% if transaction.letter %}<a href="{% url 'letter_detail' transaction.entry.year.pk transaction.letter.pk %}">{{ transaction.letter }}</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <p>Pas de lettrage non équilibré</p>
    {% endif %}

    {% if unbalanced_reconciliations %}
        <p>Rapprochements non équilibrés</p>

        <table class="table table-striped table-hover">
            <tr>
                <th>Operation</th>
                <th class="text-right">Montant</th>
                <th>Ecriture</th>
                <th class="text-right">Montant</th>
            </tr>
            {% for operation in unbalanced_reconciliations %}
                <tr>
                    <td><a href="{% url 'bankoperation_detail' operation.year.pk operation.pk %}">{{ operation }}</a></td>
                    <td class="text-right">{{ operation.amount|floatformat:2 }} €</td>
                    <td><a href="{% url 'entry' operation.transaction.entry.year.pk operation.transaction.pk %}">{{ operation.transaction.title|default:operation.transaction.entry.title }}</a></td>
                    <td class="text-right">{{ operation.balance|floatformat:2 }} €</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas de rapprochement non équilibré</p>
    {% endif %}

    {% if purchase_without_scan %}
        <p>Factures fournisseur sans justificatif</p>

        <table class="table table-striped table-hover">
            <tr>
                <th>Intitulé</th>
                <th class="text-right">Débit</th>
                <th class="text-right">Crédit</th>
            </tr>
            {% for entry in purchase_without_scan %}
                <tr>
                    <td><a href="{% url 'entry' entry.year.pk entry.pk %}">{{ entry.title }}</a></td>
                    <td class="text-right">{% if entry.expense %}{{ entry.expense|floatformat:2 }} €{% endif %}</td>
                    <td class="text-right">{% if entry.revenue %}{{ entry.revenue|floatformat:2 }} €{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas de facture fournisseur sans scan</p>
    {% endif %}

    {% if pure_entries %}
        <p>Écritures pures</p>

        <table class="table table-striped table-hover">
            <tr>
                <th>Intitulé</th>
                <th class="text-right">Débit</th>
                <th class="text-right">Crédit</th>
                {% if perms.accounting.change_entry and year.opened %}
                    <th>Conversion en</th>
                {% endif %}
            </tr>
            {% for entry in pure_entries %}
                <tr>
                    <td><a href="{% url 'entry' entry.year.pk entry.pk %}">{{ entry.title }}</a></td>
                    <td class="text-right">{% if entry.expense %}{{ entry.expense|floatformat:2 }} €{% endif %}</td>
                    <td class="text-right">{% if entry.revenue %}{{ entry.revenue|floatformat:2 }} €{% endif %}</td>
                    {% if perms.accounting.change_entry and year.opened %}
                        <td>
                            <a href="{% url 'entry_to_purchase' entry.year.pk entry.pk %}">FF</a>
                            <a href="{% url 'entry_to_sale' entry.year.pk entry.pk %}">FC</a>
                            <a href="{% url 'entry_to_expenditure' entry.year.pk entry.pk %}">RF</a>
                            <a href="{% url 'entry_to_income' entry.year.pk entry.pk %}">RC</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Pas d'écritures pures</p>
    {% endif %}

</div>

{% endblock content %}
