{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    <h1>Écritures {{ year }}</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Labels</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th class="text-right">Solde</th>
        </tr>
        {% for entry in object_list %}
            <tr>
                <td>{{ entry.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'entry' year.pk entry.pk %}">{{ entry.title }}</a></td>
                <td>
                    {% if entry.exported %}<span class="label label-success">Exporté</span>{% endif %}
                    {% if not entry.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
                </td>
                <td class="text-right text-nowrap">{% if entry.expense %}{{ entry.expense|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{% if entry.revenue %}{{ entry.revenue|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap {% if not entry.balanced %}text-danger{% endif %}">{{ entry.balance|floatformat:2 }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            <td></td>
            <td class="text-right text-nowrap"><strong>{{ expense|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ revenue|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ balance|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}
