{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    <h1>{{ entry.title }}</h1>

    <p>
        {% if entry.exported %}<span class="label label-success">Exporté</span>{% endif %}
        {% if not entry.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
    </p>

    <p>
        Date : {{ entry.date|date:"d/m/y" }}{% if entry.purchaseinvoice %},
            Facture : {{ entry.purchaseinvoice.number }},
            Date limite : {{ entry.purchaseinvoice.deadline }}
        {% endif %}
    </p>

    {% if entry.scan %}<p><a href="{{ entry.scan.url }}" class="btn btn-primary"><span class="glyphicon glyphicon-file"></span> Télécharger la pièce</a></p>{% endif %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Intitulé</th>
            <th>Compte</th>
            <th>Tiers</th>
            <th>Analytique</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th class="text-right">Rapprochement</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.title }}</td>
                <td><a href="{% url 'account' year.pk %}?account={{ transaction.account_id }}">{{ transaction.account.number }} - {{ transaction.account.title }}</a></td>
                <td><a href="{% url 'account' year.pk %}?thirdparty={{ transaction.thirdparty_id }}">{{ transaction.thirdparty.number }} - {{ transaction.thirdparty.title }}</a></td>
                <td><a href="{% url 'account' year.pk %}?analytic={{ transaction.analytic_id }}">{{ transaction.analytic.number }} - {{ transaction.analytic.title }}</a></td>
                <td class="text-right">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                <td class="text-right">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                <td class="text-right">{% if transaction.reconciliation %}{{ transaction.reconciliation|date:"d/m/y" }}{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right {% if not entry.balanced %}text-danger{% endif %}"><strong>{{ entry.expense|floatformat:2 }} €</strong></td>
            <td class="text-right {% if not entry.balanced %}text-danger{% endif %}"><strong>{{ entry.revenue|floatformat:2 }} €</strong></td>
            <td></td>
        </tr>
    </table>

    <p>
        {% if perms.accounting.change_entry %}
            <a href="{% url 'admin:accounting_entry_change' entry.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
        {% endif %}
    </p>

</div>

{% endblock content %}
