{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>{% if form.instance.pk %}Modifier le réglement fournisseur {{ expenditure }}{% else %}Ajouter un réglement fournisseur{% endif %}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <div class="row">
            <div class="col-md-4"><label>Tiers*</label></div>
            <div class="col-md-4"><label>Intitulé</label></div>
            <div class="col-md-2"><label>Accompte*</label></div>
            <div class="col-md-2"><label>Montant*</label></div>
        </div>
        {% crispy formset %}
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        method_field = $('#id_method');
        account_div = $('#div_id_account');

        function toggle() {
            account_div.toggle(method_field.val() != 3);
        };

        method_field.change(function() {
            toggle();
        });

        toggle();
    </script>

{% endblock js %}
