{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    <h1>{{ expenditure.title }}</h1>

    <p>
        {% if expenditure.exported %}<span class="label label-success">Exporté</span>{% endif %}
        {% if not expenditure.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
    </p>

    <p><b>Date</b> : {{ expenditure.date|date:"d/m/y" }}</p>
	<p><b>Moyen de paiement</b>: {{ expenditure.get_method_display }}</p>
    <p><b>Scan</b> : {% if expenditure.scan %}<a href="{{ expenditure.scan.url }}">télécharger</a>{% else %}-{% endif %}</p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Tiers</th>
            {% if expenditure.method == 5 %}
                <th>IBAN</th>
            {% endif %}
            <th>Intitulé</th>
            <th>Accompte</th>
            <th class="text-right">Montant</th>
        </tr>
        {% for transaction in provider_transactions %}
            <tr>
                <td><a href="{% url 'thirdparty_detail' year.pk transaction.thirdparty.pk %}">{{ transaction.thirdparty }}</a></td>
                {% if expenditure.method == 5 %}
                    <td>{{ transaction.thirdparty.iban|default:'<span color="red">Requis</span>' }}</td>
                {% endif %}
                <td>{{ transaction.title }}</a></td>
                <td>{% if transaction.account.number == '4090000' %}X{% endif %}</a></td>
                <td class="text-right">{{ transaction.expense }}</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            {% if expenditure.method == 5 %}
                <td></td>
            {% endif %}
            <td></td>
            <td></td>
            <td class="text-right"><strong>{{ expenditure.cash_transaction.revenue|floatformat:2 }}</strong></td>
        </tr>
    </table>
    <p>
        {% if perms.accounting.delete_expenditure and year.opened %}
            <a href="{% url 'expenditure_delete' year.pk expenditure.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Supprimer
            </a>
        {% endif %}
        {% if perms.accounting.change_expenditure and year.opened %}
            <a href="{% url 'expenditure_update' year.pk expenditure.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
        {% endif %}
    </p>

</div>

{% endblock content %}
