{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    {% if perms.accounting.add_expenditure and year.opened %}
        <a href="{% url 'expenditure_create' year.pk %}" class="btn btn-primary title-action">Ajouter</a>
    {% endif %}
    <h1>Réglements fournisseur {{ year }}</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Labels</th>
            <th class="text-right">Montant</th>
            <th>Réconciliation</th>
        </tr>
        {% for expenditure in object_list %}
            <tr>
                <td>{{ expenditure.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'expenditure_detail' year.pk expenditure.pk %}">{{ expenditure.title }}</a></td>
                <td>
                    {% if expenditure.exported %}<span class="label label-success">Exporté</span>{% endif %}
                    {% if not expenditure.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
                </td>
                <td class="text-right text-nowrap">{% if expenditure.revenue %}{{ expenditure.revenue|floatformat:2 }} €{% endif %}</td>
                <td>{% if expenditure.cash_transaction.operation %}
                    <a href="{% url 'bankoperation_detail' year.pk  expenditure.cash_transaction.operation.pk %}">
                        {{ expenditure.cash_transaction.operation }}
                    </a>
                {% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            <td></td>
            <td class="text-right text-nowrap"><strong>{{ revenue|floatformat:2 }} €</strong></td>
            <td></td>
        </tr>
    </table>

</div>

{% endblock content %}
