{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container home">

        <a href="{% url 'report_list' accounting_year_pk %}" class="btn btn-primary title-action">Notes de frais</a>
        <h1>Compta</h1>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>Résultat</strong></h1>
                    </div>
                    <div class="panel-body text-center">
                        <span class="number">{{ balance|floatformat:"0" }}</span>
                        <span class="percent {% if balance_diff < 0 %}negative{% endif %}">
                            {% if balance_diff > 0 %}+{% endif %}{{ balance_diff|floatformat:"1" }}%
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title"><strong>Trésorerie</strong></h1>
                    </div>
                    <div class="panel-body text-center">
                        <span class="number">{{ cash|floatformat:"0" }}</span>
                        <span class="percent {% if cash_diff < 0 %}negative{% endif %}">
                            {% if cash_diff > 0 %}+{% endif %}{{ cash_diff|floatformat:"1" }}%
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}
