{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    <h1>{{ income.title }}</h1>

    <p>
        {% if income.exported %}<span class="label label-success">Exporté</span>{% endif %}
        {% if not income.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
    </p>

    <p><b>Date</b> : {{ income.date|date:"d/m/y" }}</p>
    <p><b>Client</b> : <a href="{% url 'thirdparty_detail' year.pk income.client_transaction.thirdparty.pk %}">{{ income.client_transaction.thirdparty }}</a></p>
	<p><b>Moyen de paiement</b>: {{ income.method }}</p>
	<p><b>Accompte</b>: {{ income.deposit|yesno:"oui,non" }}</p>
    <p><b>Montant</b> : {{ income.client_transaction.revenue|floatformat:2 }}</p>
    <p><b>Scan</b> : {% if income.scan %}<a href="{{ income.scan.url }}">télécharger</a>{% else %}-{% endif %}</p>

    <p>
        {% if perms.accounting.delete_income and year.opened %}
            <a href="{% url 'income_delete' year.pk income.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Supprimer
            </a>
        {% endif %}
        {% if perms.accounting.change_income and year.opened %}
            <a href="{% url 'income_update' year.pk income.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
        {% endif %}
    </p>

</div>

{% endblock content %}
