{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>{% if form.instance.pk %}Modifier la recette {{ income }}{% else %}Ajouter une recette{% endif %}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        method_field = $('#id_method');
        account_div = $('#div_id_account');

        function toggle() {
            account_div.toggle(method_field.val() == '5120000');
        };

        method_field.change(function() {
            toggle();
        });

        toggle();
    </script>

{% endblock js %}
