<html>
<head>
<style>
@page {
  size: A4;
  margin: 15mm;
  margin-bottom: 25mm;
  counter-increment: page;
  @bottom-right {
    content: "Page " counter(page) " sur " counter(pages);
    font-family: sans-serif;
    font-size: 10pt;
  }
}
body {
  font-family: sans-serif;
  font-size: 10pt;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 2em 0;
}
table td, table th {
    border: solid black 1px;
    padding: .5em;
}
</style>
</head>
<body>

<img src="./accounting/static/accounting/logo.png" style="float: left; width: 4cm; margin-right: 1cm; margin-bottom: .5cm;">

<p>
    <b>Éclaireuses Éclaireurs de France</b><br>
    Centre international de Bécours<br>
    Hameau de Bécours<br>
    12 520 Verrières<br>
    Tél : +33 6 89 66 78 11<br>
    E-mail : becours@eedf.fr<br>
    SIRET : 775 675 598 01 523
</p>

<h2 style="clear: both; text-align: center;">Facture n° {{ sale.number }}</h2>

<p style="margin-top: 2em;">
    <b>Date</b> : {{ sale.date|date:"d/m/Y" }}<br>
    <b>Client</b> : {{ sale.client_transaction.thirdparty.title }}<br>
    {% if sale.client_transaction.thirdparty.address %}{{ sale.client_transaction.thirdparty.address|linebreaksbr }}<br>{% endif %}
    <b>Objet</b> : {{ sale.title }}
    {% if sale.order %}<br><b>Bon de commande</b> : {{ sale.order }}{% endif %}
</p>

<table>
    <tr>
        <th>Prestation</th>
        <th style="text-align: right;">Montant</th>
    </tr>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.title }}</td>
            <td style="text-align: right;">{{ transaction.revenue|floatformat:2 }} €</td>
        </tr>
    {% endfor %}
    {% if deposit %}
        <tr style="background: #F0F0F0;">
            <td>TOTAL</td>
            <td style="text-align: right;">{{ sale.revenue|floatformat:2 }} €</td>
        </tr>
        <tr style="background: #F0F0F0;">
            <td>Arrhes déjà versées</td>
            <td style="text-align: right;">{{ deposit|floatformat:2 }} €</td>
        </tr>
        <tr style="background: #F0F0F0;">
            <th>Solde à régler</th>
            <th style="text-align: right;">{{ balance|floatformat:2 }} €</th>
        </tr>
    {% else %}
        <tr style="background: #F0F0F0;">
            <th>TOTAL</th>
            <th style="text-align: right;">{{ sale.revenue|floatformat:2 }} €</th>
        </tr>
    {% endif %}
</table>

{% if sale.client_transaction.letter %}
<p>
    <b>Facture acquittée :</b>
    <ul>
        {% for payment in payments %}
            <li>{{ payment.entry.income.method }} {{ payment.revenue|floatformat:2 }} € le {{ payment.entry.date|date:"d/m/Y" }}</li>
        {% endfor %}
    </ul>
</p>
{% else %}
<p>
    En votre aimable règlement à réception de la facture.
</p>

<p>
    De préférence par virement SEPA :
</p>

<p style="margin-left: 2em;">
    IBAN : <b>FR76 1010 7008 6800 3140 7921 421</b><br>
    BIC : BREDFRPPXXX<br>
    Domiciliation : BRED 09 69 39 54 58
</p>

<p>
    Ou par chèque libellé à l'ordre de EEDF BÉCOURS et envoyé à :
</p>

<p style="margin-left: 2em;">
    E.E.D.F – Secrétariat Bécours<br>
    Base de loisirs de Cantepau<br>
    BP 90353 – 81027 ALBI Cedex 9
</p>
{% endif %}

<p>
    TVA non applicable, article 293 B du code général des impôts
</p>

</body>
</html>

