{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Lettrage {{ letter }} {{ year }}</h1>

    <p>
        {% if perms.accounting.delete_letter and year.opened %}
            <a href="{% url 'letter_delete' year.pk letter.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Supprimer
            </a>
        {% endif %}
    </p>

    <h2>Écritures</h2>

    <table class="table table-striped table-hover">
        <tr>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Compte</th>
            <th>Analytique</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th class="text-right">Solde cumulé</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.entry.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'entry' year.pk transaction.entry.pk %}">{{ transaction.entry.title }}{% if transaction.title %} - {{ transaction.title }}{% endif %}</a></td>
				<td><a href="{% url 'account' year.pk %}?account={{ transaction.account_id }}{% if filter.form.cleaned_data.analytic %}&analytic={{ transaction.analytic_id }}{% endif %}{% if filter.form.cleaned_data.thirdparty %}&thirdparty={{ transaction.thirdparty_id }}{% endif %}" title="{{ transaction.account.title }}">{{ transaction.account.number }}</a></td>
				<td><a href="{% url 'account' year.pk %}?analytic={{ transaction.analytic_id }}{% if filter.form.cleaned_data.account %}&account={{ transaction.account_id }}{% endif %}{% if filter.form.cleaned_data.thirdparty %}&thirdparty={{ transaction.thirdparty_id }}{% endif %}">{{ transaction.analytic.number }}</a></td>
                <td class="text-right text-nowrap">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{{ transaction.accumulator|floatformat:2 }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td class="text-right text-nowrap"><strong>{{ expense|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ revenue|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ balance|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}
