{% extends 'accounting/base.html' %}

{% block content %}

<div class="container">

    <h1>Projection {{ year }}</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Compte général</th>
            <th>Compte analytique</th>
            <th class="text-right">Montant</th>
        </tr>
        {% for row in object_list %}
            <tr>
                <td><a href="{% url 'account' year.pk %}?account={{ row.account_id }}">{{ row.account__number }} {{ row.account__title }}</a></td>
                <td><a href="{% url 'account' year.pk %}?analytic={{ row.analytic_id }}">{{ row.analytic__title }}</a></td>
                <td class="text-right">{% if row.solde %}{{ row.solde|floatformat:2 }} €{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><strong>Solde</strong></td>
            <td class="text-right"><strong>{{ solde|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}
