{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    <h1>{{ purchase.title }}</h1>

    <p>
        {% if purchase.exported %}<span class="label label-success">Exporté</span>{% endif %}
        {% if not purchase.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
    </p>

    <p><b>Date</b> : {{ purchase.date|date:"d/m/y" }}</p>
    {% if purchase.report %}
        <p><b>Note de frais</b> : <a href="{% url 'report_detail' year.pk purchase.report.pk %}">{{ purchase.report.title }}</a></p>
    {% endif %}
    <p><b>Fournisseur</b> : <a href="{% url 'thirdparty_detail' year.pk thirdparty.pk %}">{{ thirdparty }}</a></p>
    <p><b>Montant</b> : {{ amount|floatformat:2 }}</p>
    <p><b>Arrhes versées</b> : {{ deposit_transaction.revenue|floatformat:2 }}</p>
    <p><b>Solde à payer</b> : {{ provider_transaction.revenue|default:0|floatformat:2 }}</p>
    <p><b>Numéro</b> : {{ purchase.number|default:"-" }}</p>
    <p><b>Date limite</b> : {{ purchase.deadline|default:"comptant" }}</p>
    <p><b>Scan</b> : {% if purchase.scan %}<a href="{{ purchase.scan.url }}">télécharger</a>{% else %}-{% endif %}</p>
    <p><b>Ventilation :</b></p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Compte</th>
            <th>Analytique</th>
            <th>Intitulé</th>
            <th class="text-right">Montant</th>
        </tr>
        {% for expense in expense_transactions %}
            <tr>
                <td><a href="{% url 'account' year.pk %}?account={{ expense.account_id }}">{{ expense.account.number }} - {{ expense.account.title }}</a></td>
                <td><a href="{% url 'account' year.pk %}?analytic={{ expense.analytic_id }}">{{ expense.analytic.number }} - {{ expense.analytic.title }}</a></td>
                <td>{{ expense.title }}</td>
                <td class="text-right">{% if expense.amount_expense %}{{ expense.amount_expense|floatformat:2 }} €{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td class="text-right {% if not purchase.balanced %}text-danger{% endif %}"><strong>{{ expense_transactions.amount_expense|floatformat:2 }} €</strong></td>
        </tr>
    </table>

    <p>
        {% if perms.accounting.delete_purchase and year.opened %}
            <a href="{% url 'purchase_delete' year.pk purchase.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Supprimer
            </a>
        {% endif %}
        {% if perms.accounting.change_purchase and year.opened %}
            <a href="{% url 'purchase_update' year.pk purchase.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
        {% endif %}
    </p>

</div>

{% endblock content %}
