{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    <h1>{{ report.title }}</h1>

    <p>
        {% if report.countersigned %}<span class="label label-success">Contresigné</span>{% endif %}
    </p>

    <p><b>Nom</b> : {{ report.person.last_name }}</p>
    <p><b>Prénom</b> : {{ report.person.first_name }}</p>
    <p><b>Objet</b> : {{ report.title }}</p>
    <p><b>Date</b> : {{ report.date|date:"d/m/y" }}</p>
    <p><b>Justificatif</b> : {% if report.scan %}<a href="{{ report.scan.url }}">télécharger</a>{% else %}-{% endif %}</p>
    <p><b>Ventilation :</b></p>

    <table class="table table-striped table-hover">
        <tr>
            <th>Compte</th>
            <th class="text-right">Montant</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.account.number }} - {{ item.account.title }}</a></td>
                <td class="text-right">{{ item.expense|floatformat:2 }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td class="text-right"><strong>{{ report.expense|floatformat:2 }} €</strong></td>
        </tr>
    </table>

    <p>
        {% if modifiable %}
            <a href="{% url 'report_delete' year.pk report.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Supprimer
            </a>
            <a href="{% url 'report_update' year.pk report.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
        {% endif %}
        {% if not report.countersignature_date and user != report.person and perms.accounting.add_purchase and year.opened %}
            <a href="{% url 'purchase_create' year.pk %}?report={{ report.pk }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span>
                Contresigner
            </a>
        {% endif %}
    </p>

</div>

{% endblock content %}
