{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>{% if form.instance.pk %}Modifier la note de frais {{ report }}{% else %}Ajouter une note de frais{% endif %}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% if not perms.accounting.add_report %}
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="control-label">Nom</label>
                <div class="controls">{{ person.last_name }}</div>
            </div>
            <div class="col-md-6 form-group">
                <label class="control-label">Prénom</label>
                <div class="controls">{{ person.first_name }}</div>
            </div>
        </div>
        {% endif %}
        {% crispy form %}
        <p><b>Ventilation :</b></p>
        <div class="row">
            <div class="col-md-6"><label>Compte*</label></div>
            <div class="col-md-6"><label>Montant*</label></div>
        </div>
        {% crispy formset %}
        <p>
            Je soussigné {{ person.first_name }} {{ person.last_name }} atteste :
            <ul>
                <li>avoir engagé les dépenses ci-dessus au profit unique du centre EEDF de Bécours,</li>
                <li>avoir avancé personnellement la somme.</li>
            </ul>
        </p>
        <input type="submit" name="create" value="Enregistrer et signer" class="btn btn-primary">
    </form>

</div>

{% endblock content %}
