{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    {% if year.opened %}
        <a href="{% url 'report_create' year.pk %}" class="btn btn-primary title-action">Ajouter</a>
    {% endif %}
    <h1>Notes de frais {{ year }}</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Labels</th>
            <th>Personne</th>
            <th class="text-right">Montant</th>
        </tr>
        {% for report in object_list %}
            <tr>
                <td>{{ report.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'report_detail' year.pk report.pk %}">{{ report.title }}</a></td>
                <td>
                    {% if report.countersignature_date %}
                        <span class="label label-success">Contresignée</span>
                    {% elif report.signature_date %}
                        <span class="label label-warning">Signée</span>
                    {% endif %}
                </td>
                <td>{{ report.person }}</td>
                <td class="text-right text-nowrap">{% if report.expense %}{{ report.expense|floatformat:2 }} €{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td class="text-right text-nowrap"><strong>{{ expense|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}
