{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    {% if perms.accounting.add_sale and year.opened %}
        <a href="{% url 'sale_create' year.pk %}" class="btn btn-primary title-action">Ajouter</a>
    {% endif %}
    <h1>Factures client {{ year }}</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Numéro</th>
            <th>Labels</th>
            <th class="text-right">Crédit</th>
        </tr>
        {% for sale in object_list %}
            <tr>
                <td>{{ sale.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'sale_detail' year.pk sale.pk %}">{{ sale.title }}</a></td>
                <td>{{ sale.number }}</td>
                <td>
                    {% if sale.exported %}<span class="label label-success">Exporté</span>{% endif %}
                    {% if not sale.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
                </td>
                <td class="text-right text-nowrap">{% if sale.revenue %}{{ sale.revenue|floatformat:2 }} €{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td class="text-right text-nowrap"><strong>{{ revenue|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}
