{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>{% if form.instance.pk %}Modifier la vente {{ sale }}{% else %}Ajouter une vente{% endif %}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <p><b>Ventilation :</b></p>
        <div class="row">
            <div class="col-md-4"><label>Compte*</label></div>
            <div class="col-md-3"><label>Analytique*</label></div>
            <div class="col-md-3"><label>Intitulé</label></div>
            <div class="col-md-2"><label>Montant*</label></div>
        </div>
        {% crispy formset %}
        <input type="submit" name="create" value="Enregistrer" class="btn btn-primary">
        <input type="submit" name="add-row" value="Ajouter des lignes vides" class="btn btn-default">
    </form>

</div>

{% endblock content %}
