{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    {% if perms.accounting.add_thirdparty and year.opened %}
        <a href="{% url 'thirdparty_create' year.pk %}" class="btn btn-primary title-action">Ajouter</a>
    {% endif %}
    <h1>Tiers {{ year }}</h1>

    {% crispy filter.form %}

    <table class="table table-striped table-hover">
        <tr>
            <th>Numéro</th>
            <th>SAGE</th>
            <th>Intitulé</th>
            <th>Type</th>
            <th>IBAN</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th class="text-right">Solde</th>
        </tr>
        {% for thirdparty in object_list %}
            <tr class="{% if thirdparty.balance < 0 %}balance_neg{% endif %}{% if thirdparty.balance > 0 %}balance_pos{% endif %}{% if thirdparty.balance == 0 and thirdparty.not_lettered > 0 %}not_lettered{% endif %}">
                <td><a href="{% url 'thirdparty_detail' year.pk thirdparty.pk %}">{{ thirdparty.number }}</a></td>
                <td>{{ thirdparty.sage|default:"" }}</td>
                <td>{{ thirdparty.title }}</td>
                <td>{{ thirdparty.get_type_display }}</td>
                <td>{{ thirdparty.iban }}</td>
                <td class="text-right text-nowrap">{{ thirdparty.expense|floatformat:2 }} €</td>
                <td class="text-right text-nowrap">{{ thirdparty.revenue|floatformat:2 }} €</td>
                <td class="text-right text-nowrap">{{ thirdparty.balance|floatformat:2 }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td class="text-right text-nowrap"><strong>{{ expense|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ revenue|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ balance|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('select, :checkbox').change(function() {$('#filter').submit()});
    </script>

{% endblock js %}
