{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Tiers {{ thirdparty }} {{ year }}</h1>

	<p><b>Numéro</b> : {{ thirdparty.number }}</p>
	<p><b>Intitulé</b> : {{ thirdparty.title }}</p>
	<p><b>Type</b> : {{ thirdparty.get_type_display }}</p>
	<p><b>IBAN</b> : {{ thirdparty.iban }}</p>
	<p><b>BIC</b> : {{ thirdparty.bic }}</p>
	<p><b>Numéro SAGE</b> : {{ thirdparty.sage|default:"" }}</p>
	<p><b>Compte principal</b> : {{ thirdparty.account }}</p>
    {% if thirdparty.address %}
        <p><b>Adresse postale :</b><br>{{ thirdparty.address|linebreaksbr }}</b></p>
    {% endif %}

    <p>
        {% if perms.accounting.delete_thirdparty and year.opened %}
            <a href="{% url 'thirdparty_delete' year.pk thirdparty.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Supprimer
            </a>
        {% endif %}
        {% if perms.accounting.change_thirdparty and year.opened %}
            <a href="{% url 'thirdparty_update' year.pk thirdparty.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
        {% endif %}
    </p>

    <h2>Écritures</h2>

    <form method="POST">
    {% csrf_token %}
    <table class="table table-striped table-hover">
        <tr>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Compte</th>
            <th>Analytique</th>
            <th class="text-right">Débit</th>
            <th class="text-right">Crédit</th>
            <th class="text-right">Solde cumulé</th>
            <th>Lettrage</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.entry.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'entry' year.pk transaction.entry.pk %}">{{ transaction.entry.title }}{% if transaction.title %} - {{ transaction.title }}{% endif %}</a></td>
				<td><a href="{% url 'account' year.pk %}?account={{ transaction.account_id }}{% if filter.form.cleaned_data.analytic %}&analytic={{ transaction.analytic_id }}{% endif %}{% if filter.form.cleaned_data.thirdparty %}&thirdparty={{ transaction.thirdparty_id }}{% endif %}" title="{{ transaction.account.title }}">{{ transaction.account.number }}</a></td>
				<td><a href="{% url 'account' year.pk %}?analytic={{ transaction.analytic_id }}{% if filter.form.cleaned_data.account %}&account={{ transaction.account_id }}{% endif %}{% if filter.form.cleaned_data.thirdparty %}&thirdparty={{ transaction.thirdparty_id }}{% endif %}">{{ transaction.analytic.number }}</a></td>
                <td class="text-right text-nowrap">{% if transaction.expense %}{{ transaction.expense|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{% if transaction.revenue %}{{ transaction.revenue|floatformat:2 }} €{% endif %}</td>
                <td class="text-right text-nowrap">{{ transaction.accumulator|floatformat:2 }} €</td>
                <td>{% if transaction.letter %}{{ transaction.letter }}{% else %}<input type="checkbox" name="letter{{ transaction.id }}">{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td class="text-right text-nowrap"><strong>{{ expense|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ revenue|floatformat:2 }} €</strong></td>
            <td class="text-right text-nowrap"><strong>{{ balance|floatformat:2 }} €</strong></td>
            <td></td>
        </tr>
    </table>

    <p>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span>
            Lettrer
        </button>
        {% if balance < 0 %}
            <a href="{% url 'income_create' year.pk %}?&thirdparty={{ thirdparty.pk }}" class="btn btn-primary">Solder</a>
        {% endif %}
        {% if balance > 0 %}
            <a href="{% url 'expenditure_create' year.pk %}?&thirdparty={{ thirdparty.pk }}" class="btn btn-primary">Solder</a>
        {% endif %}
    </p>
    </form>

</div>

{% endblock content %}


{% block js %}

    {{ block.super }}

    <script>
        $('#filter select, #filter :checkbox').change(function() {
            $('#filter').submit();
        });
        $('tr :checkbox').click(function(event) {
            event.stopPropagation();
        });
        $('tr').click(function() {
            var checkbox = $(this).find(':checkbox');
            checkbox.prop("checked", !checkbox.prop("checked"));
        });
    </script>

{% endblock js %}
