{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    {% if perms.accounting.add_withdrawal and year.opened %}
        <a href="{% url 'withdrawal_create' year.pk %}" class="btn btn-primary title-action">Ajouter</a>
    {% endif %}
    <h1>Retraits {{ year }}</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>Date</th>
            <th>Intitulé</th>
            <th>Labels</th>
            <th class="text-right">Montant</th>
        </tr>
        {% for withdrawal in object_list %}
            <tr>
                <td>{{ withdrawal.date|date:"d/m/y" }}</td>
                <td><a href="{% url 'withdrawal_detail' year.pk withdrawal.pk %}">{{ withdrawal.title }}</a></td>
                <td>
                    {% if withdrawal.exported %}<span class="label label-success">Exporté</span>{% endif %}
                    {% if not withdrawal.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
                </td>
                <td class="text-right text-nowrap">{% if withdrawal.expense %}{{ withdrawal.expense|floatformat:2 }} €{% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td><strong>Total</strong></td>
            <td></td>
            <td class="text-right text-nowrap"><strong>{{ revenue|floatformat:2 }} €</strong></td>
        </tr>
    </table>

</div>

{% endblock content %}
