{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container accounting">

    <h1>{{ withdrawal.title }}</h1>

    <p>
        {% if withdrawal.exported %}<span class="label label-success">Exporté</span>{% endif %}
        {% if not withdrawal.balanced %}<span class="label label-danger">Non équilibré</span>{% endif %}
    </p>

    <p><b>Date</b> : {{ withdrawal.date|date:"d/m/y" }}</p>
	<p><b>Type</b>: {{ withdrawal.method }}</p>
    <p><b>Montant</b> : {{ withdrawal.withdrawal_transaction.expense|floatformat:2 }}</p>
    <p><b>Scan</b> : {% if withdrawal.scan %}<a href="{{ withdrawal.scan.url }}">télécharger</a>{% else %}-{% endif %}</p>

    <p>
        {% if perms.accounting.delete_withdrawal and year.opened %}
            <a href="{% url 'withdrawal_delete' year.pk withdrawal.pk %}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
                Supprimer
            </a>
        {% endif %}
        {% if perms.accounting.change_withdrawal and year.opened %}
            <a href="{% url 'withdrawal_update' year.pk withdrawal.pk %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span>
                Modifier
            </a>
        {% endif %}
    </p>

</div>

{% endblock content %}
