/*
#F6A800 jaune
#97BF0D vert
#14A0C8 bleu
#BD1220 rouge
*/

@font-face {
    font-family: "digital";
    src: url("fonts/DS-DIGIB.TTF");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 70px 0 60px 0; /* bottom = footer height + margin */
}

.navbar-brand {
    background: url(/static/core/img/logo.png) no-repeat 15px 0;
    width: 80px;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

h2 {
    font-size: 20px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
}

footer a, footer a:hover, footer a:visited {
    color: white;
}

footer .bandeau {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, #16a0c8, #97be0d);
}

footer .logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  margin-right: 25px;
  height: 100%;
  width: 50px;
  background: url(/static/core/img/logo-blanc.svg), #22515C;
}

footer span + span::before {
    content: "   -   ";
}

footer span img.baseline {
    vertical-align: baseline;
}

.btn + .btn {
  margin-left: 20px;
}

.form-inline {
  margin-bottom: 20px;
}

#navbar .form-inline {
  margin-bottom: 0;
}

.form-inline .form-group + .form-group,
.form-inline .checkbox,
.form-inline button {
  margin-left: 20px;
}

#comment {
  margin-top: 20px;
}

tr.separator:not(:nth-child(2)) {
    border-top: solid red 2px;
}

tr.total td {
    font-weight: bold;
}

.form-inline .form-group + .form-group {
    margin-left: 12px;
}

.title-action {
    float: right;
    margin-bottom: 1em;
}

th {
    white-space: nowrap;
}

.table-striped > tbody > tr:nth-of-type(odd).balance_neg {
    background-color: #ffc0c0;
}

.table-striped > tbody > tr:nth-of-type(even).balance_neg {
    background-color: #f0c0c0;
}

.table-striped > tbody > tr:nth-of-type(odd).balance_pos {
    background-color: #c0ffc0;
}

.table-striped > tbody > tr:nth-of-type(even).balance_pos {
    background-color: #c0f0c0;
}

.table-striped > tbody > tr:nth-of-type(odd).not_lettered {
    background-color: #ffe0c0;
}

.table-striped > tbody > tr:nth-of-type(even).not_lettered {
    background-color: #ffe0c0;
}

form#filter {
    clear: right;
}

form.form-inline select#id_structure, form.form-inline select#id_function {
    width: 20em;
}

.uppercase {
    text-transform: uppercase;
}

.test-warning {
    padding: 5px 0;
}

.home .row p, .invitation-create .row p {
    margin-top: 1em;
}

.home .row p {
    text-align: center;
}

.home .panel {
    cursor: pointer !important;
}

.home .panel:hover, .panel:hover .panel-heading {
    border-color: #449ae7;
}

.home .panel:hover .panel-heading {
    background-color: #449ae7;
}

.equal .panel-body {
    min-height: 15em;
}

.select2-selection--multiple {
    padding: 0;
}

.pagination {
    margin: 0;
}

.anchor:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 70px;
    margin-top: -70px;
}

.panel-heading a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

input[name*="DELETE"] {
    display: none;
}

form span.glyphicon-trash:hover {
    cursor: pointer;
}

table.workflow td {
    padding-right: 1em;
}

.pagination {
    display: block;
    margin-bottom: 1em;
}

.home .number {
    font-family: "digital";
    font-size: 400%;
}

.home .unit {
    font-size: 150%;
}

.home .percent {
    font-family: "digital";
    font-size: 250%;
    color: green;
    margin-left: .25em;
}

.home .percent.negative {
    color: red;
}
