{% extends 'accounting/base.html' %}

{% block content %}

    <div class="container">

        <h1>Erreur d'authentification</h1>

        <div class="alert alert-danger">
            {{ error }}
        </div>

    </div>

{% endblock content %}
