{% extends 'accounting/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <h1>Passer pour</h1>

    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <a href="{% url 'home' %}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Annuler</a>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Passer pour</button>
    </form>

</div>

{% endblock content %}
