<!DOCTYPE html>
<html lang="fr">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    {% block css %}
        <link href="{% static 'core/bootstrap3/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'core/style.css' %}" rel="stylesheet" type="text/css" media="all">
    {% endblock css %}
    <title>EEDF - Compta</title>
</head>

<body {% if conf.test_site %}style="margin-top: 100px;"{% endif %}>

<nav class="navbar navbar-default navbar-fixed-top">
    {% if conf.test_site %}
    <div class="test-warning bg-danger text-danger text-center">
        <big><strong>
            Site de {{ conf.test_site }}
        </strong></big>
    </div>
    {% endif %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% block menu %}{% endblock %}
            </ul>
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user"></span>
                            {% if request.actual_user %}
                                {{ request.actual_user.person }} /
                                <span class="text-danger"><b>{{ request.user.person }}</b></span>
                            {% else %}
                                {{ request.user.person }}
                            {% endif %}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_superuser %}
                                <li>
                                    <a href="{% url 'admin:index' %}">Admin Django</a>
                                </li>
                            {% endif %}
                            {% if perms.members.masquerade_person %}
                                <li>
                                    <a href="{% url 'user_masquerade' %}">Passer pour</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'oidc_total_logout' %}?next=/&fail=/">Déconnexion</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% block search %}{% endblock %}
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block messages %}
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert {{ message.extra_tags }}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock messages %}

<script src="{% static 'core/js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'core/bootstrap3/js/bootstrap.js' %}"></script>

{% block content %}{% endblock content %}

<link href="{% static 'core/css/select2-bootstrap.css' %}" rel="stylesheet">

<footer>
    <div class="bandeau">
        <div class="logo"></div>
        <span class="django">
            Développé avec <a href="https://www.djangoproject.com"><b>Django</b></a>
        </span>
        <span class="copyright">
            &copy; 2023 <a href="http://www.eedf.fr"><b>EEDF et …</b></a>
        </span>
        <span class="licence">
            Sous licence libre <a href="https://www.gnu.org/licenses/agpl-3.0.html"><b>AGPL</b></a>
        </span>
        <span class="github">
            Améliore moi sur <a href="https://gitlab.com/eedf/compta/"><b>Gitlab</b></a>
        </span>
    </div>
</footer>

{% block js %}
{% endblock js %}

</body>
</html>
